<!doctype html>

<html lang="en">
  <head>
    <title>{{ title }}</title>

    <meta charset="utf-8" />

    <meta name="description" content="{{ description }}" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="/assets/css/main.css" />

    <script type="module" data-currency="USD" data-id="4D71FB-J377DG" src="https://api.jamcart.io/v1/jamcart.js"></script>  
</head>

  <body>
    <header>
      <img src="/uploads/redwood-crystal-gold-no-text.png" alt="Redwood Crystals" width="150" height="127">

      <div class="toolbar-container">

        <div class="social-media-toolbar">
          <p class="media-item">Instagram</p>
          <p class="media-item">Facebook</p>
          <jamcart-open class="media-item">
            My Cart (<jamcart-cart-count></jamcart-cart-count>)
          </jamcart-open>
        </div>

        <div class='main-toolbar'>
          <p id="site-logo">
            <a href="/">Redwood Crystals</a>
          </p>

          <div class="header-links">

          
            <div class="dropdown">
              <button class="dropbtn">SHOP</button>
              <div class="dropdown-content">
                <a href="/all-products">Entire Collection</a>
                <a href="#">Crystals Under $10</a>
                <a href="#">Selenite Collection</a>
                <a href="#">Kits & Bowls</a>
                <a href="#">Limited Edition</a>


              </div>
            </div> 
            <button class="toolbar-button">FAQ</button>
            <button class="toolbar-button">CONTACT</button>   
          </div>

          
        </div>
      </div>
    </header>

    {{ content | safe }}

    <footer class="footer-container">
    <div class="footer-main-content">
      <div class="footer-box" id="footer-store">
        <h2>OUR STORE</h2>
        <p>Address: The Be Free Healing Center 1006 Spring Creek Ln b12, Fort Collins, CO 80526
          Phone: 970-691-7201
          Email:  redwoodcrystals@gmail.com
        </p>
      </div>
      <div class="footer-box" id="footer-hours">
        <h2>OPENING HOURS</h2>
          <div>Mon - Fri: 7am - 10pm</div>
  ​​        <div>Saturday: 8am - 10pm</div>
  ​        <div>Sunday: 8am - 11pm</div>
        
      </div>
      <div class="footer-box" id="footer-links">
        <h2>HELP</h2>
        <a>Shipping & Returns</a>
        <a>FAQ</a>
        <a>Privacy Policy</a>
      </div>
    </div>
    </footer>
  </body>
</html>