@import url(./theme.css);

.welcome-container{
  background-image: url("../../uploads/fullsizeoutput_eb1.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 600px;
  background-size: 100% 725px;
  padding-top: 100px;
  
}

.established-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.est-text{
    text-decoration: underline;
    font-size: 45px;
    color: var(--main-light);
}

.welcome-title{
    font-size: 45px;
    color: var(--main-light);
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome-description{
    font-size: 30px;
    color: var(--main-light);
    display: flex;
    align-items: center;
    justify-content: center;
}

.collections-container{
    display: flex;
    justify-content: center;
    margin-top: -260px;
    align-content: space-between;
    width: 100%;
    color: var(--main-light);
    height: 720px;

}

.shop-collection{
    height: 400px;
    width: 300px;
    background-size: 100% 100%;
    margin: auto;
}

.collection-title{
    display: flex;
    justify-content: center;
}
.collection-btn-container{
    display: flex;
  justify-content: center;
  align-items: center;
}

.collection-button{
    border: none;
    background-color: var(--main-dark);
    color: var(--main-light);
    border-radius: 3px;
    height: 30px;
    width: 200px;
}


#crystal-collection{
  background-image: url("../../uploads/honeycombcalcite.jpeg");
  background-repeat: no-repeat;
  

}

#kits-bowls-collection{
  background-image: url("../../uploads/whitesage.jpeg");
  background-repeat: no-repeat;

}


.about-us-container{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: white;
}

.about-us-text-area{
    display:grid;
    color:var(--main-dark);
}

.about-us-title{
    display: flex;
    justify-content: center;
    margin-top: 90px;
}

.about-us-text{
    margin-left: 140px;
    margin-right:140px;
    text-align: center;
}