@import url(./front-page.css);
@import url(./theme.css);
@import url(./carousel.css);
@import url(./faq.css);
@import url(./product-page.css);
@import url(./policy-page.css);


header {
    align-items: center;
    background-color: var(--main-light);
    display: flex;
    justify-content: space-between;
    padding: 1em 2em;
    z-index: 10;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    position: sticky;
    top: 0px;
  }

  .toolbar-container{
    width: 100%;
  }

  .social-media-toolbar{
    display:flex;
    justify-content: right;
    width: 100%;
    align-items: center;
    background-color: var(--main-dark);
    height: 45px;
    border-radius: 5px;
  }

  .media-item{
    margin-right: 20px;
    cursor:pointer;
    color:var(--main-light);
    text-decoration: none;
  }

  .main-toolbar{
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: var(--main-light);
  }

  .header-links {
    align-items: center;
    display: flex;
    justify-content: left;
    padding: 1em 2em;
    z-index: 10;
    width: 60%;
  }

  /* Dropdown Button */
.dropbtn {
  color: var(--main-dark);
  background: none;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: var(--main-dark);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  color: var(--main-light);
  background-color: var(--main-dark);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {}

.toolbar-button{
  color: var(--main-dark);
  margin-left: 40px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
}
  body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--main-light);
  }
  #site-logo{
    font-family: sans-serif;
    font-size: 250%;
    margin: 0;
  }
  #site-logo a{
    text-decoration: none;
    color: var(--main-dark);
  }

  .sticky-img{
    position: sticky;
    top:0px;
    
  }

  .footer-container{
    padding:30px;
    color: var(--main-light);
    background-color: #123132;
    
  }

  .footer-main-content{
    display: flex;
    text-align: center;
  }

  .footer-box{
    width:33%;
  }

  .address-p{
    line-height: 30px;
  }

  .help-link-container{
    display: grid;
  }

  .help-link{
    text-decoration: none;
    cursor: pointer;
    color: var(--main-light);
    margin: 5px;
  }



  

