---
title: Redwood Crystals
layout: main.liquid
---

      <div class="welcome-container">
        <div class="established-container">
          <p class="est-text">Est.</p>
          <img class="est-img" src="/uploads/redwood-crystal-gold-no-text.png" alt="Redwood Crystals" width="118" height="100">
          <p class="est-text">2021</p>
        </div>

        <h1 class="welcome-title">{{ title }}</h1>

        <h3 class="welcome-description">Crystal Shop</h3>
      
      </div>

      <div class="collections-container">

        <div class="shop-collection" id="crystal-collection">
          <h2 class="collection-title">Crystals</h2>
          <div class="collection-btn-container">
            <button class="collection-button">Shop Collection</button>
          </div>
        </div>

        <div class="shop-collection" id="kits-bowls-collection">
          <h2 class="collection-title">Kits & Bowls</h2>
          <div class="collection-btn-container">
            <button class="collection-button">Shop Collection</button>
          </div>
        </div>
      
      </div>

      <div class="about-us-container">
        <div class="about-us-text-area">
        
          <h2 class="about-us-title"> About Us</h2>

          <p class="about-us-text">Welcome! My name is Alisha Johnson, the owner and founder of 
          Redwood Crystals, inspired by the redwoods of Northern California and located right here in 
          Fort Collins, Colorado. We specialize in all different types of crystals specifically in their 
          raw form. We believe that crystals make a beautiful addition to any meditation practice, home, 
          or office space! 
          </p>
        </div>

        <img class="about-us-image" src="/uploads/lavender.jpeg" alt="About Us" width="300" height="400">

      
      </div>

